@import "tailwindcss";

@theme {
  --color-orange: #ff914d;
  --color-orange-dark: #e67a35;
  --color-dark: #0a0a0a;
  --color-dark-2: #141414;
  --color-dark-3: #1e1e1e;
  --color-light: #f5f5f5;
  --font-sans: var(--font-geist-sans);
}

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
